@model  mvcDangNhap.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Thêm mới</h2>
<!--<form action="/Category/Create" method="post">-->
    
@using (Html.BeginForm("Create", "Category", FormMethod.Post))
    {
       @Html.ValidationSummary()
        <div class="form-group">
            <label for="Name">Tên danh mục</label>
            <input type="text"  required class="form-control" name="Name"   />
            @Html.ValidationMessageFor(m=>m.Name)
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success " value="Lưu">Lưu</button>
            <span class="text-danger">@ViewBag.StatusMessage</span>
        </div>

    }

    <div>

        @Html.ActionLink("Quay về danh sách", "Index")
    </div>
