
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Đăng nhập</h2>
<form action="~/admin/Login/kiemtradangnhap" method="post">
    <div class="form-group">
        <label>Tên đăng nhâp:</label>
        <input type="Text" value="@ViewBag.username" class="form-control" required name="username" />
    </div>
    <div class="form-group">
        <label>Mật khẩu:</label>
        <input type="Text" value="@ViewBag.password" class="form-control" required name="password" />
    </div>

    <div class="form-group">
        <input type="checkbox" name="ghinho" /> Ghi nhớ tài khoản <br />
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </div>
</form>