<div style="background-color:aquamarine; float:right; width:20%; margin-top:10px" >
    <ul>
        <li style="display:inline-block"><label>Admin</label></li>
         <li style="display:inline-block"><a href="#">Đăng xuất</a></li>
    </ul>
      
    

</div>